<section id="about" class="flex flex-col w-full max-w-400 mx-auto -md:px-3 px-6 -md:pt-40 pt-80 -md:-mt-20 -mt-40">
  <header class="step max-auto flex flex-col justify-center items-center -md:mb-20 mb-40 text-center">
    <h1 class="shinebig mb-7">About</h1>
    <p class="max-w-3xl substep animation__delay-short">I&apos;ve tinkered with programming since 1998, when I was 11 years old. After short stints in other careers, as I decided to dedicate myself to programming full time as a professional. when I discovered <a href="https://museumofzzt.com/article/view/747/zzt-oop-101/">ZZT OOP</a> in 1998. m proud to showcase</p>
  </header>
</section>
