<section id="about" class="step flex flex-col w-full max-w-400 mx-auto -md:px-3 px-6 -md:pt-40 pt-80 -md:-mt-20 -mt-40">
  <header class="step max-w-4xl mx-auto flex flex-col justify-center items-center text-center mb-7">
    <h1 class="warm-glow mb-7" tabindex="0">About</h1>
    <span class="h3 -md:mb-3 mb-3 substep animation__delay-short" tabindex="0">Curtis Wirtz</span>
    <div class="flex -md:mb-2 mb-4 substep animation__delay-medium">
      <div class="flex">
        <svg class="mt-1.5" width="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 40" x="0px" y="0px">
          <title aria-hidden="true">Icon titled "Pin" by Kiki Rizky from https://thenounproject.com/icon/pin-6611599/. CC BY 3.0 https://creativecommons.org/licenses/by/3.0/</title>
          <path fill="#d1e4dd" d="M27,8v-2h-2v-2h-2v-1.97H9v1.97h-2v2h-2v2h-1.97v10h1.97v2h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2v-2h2V8h-2Zm-6,8v2h-2v2h-6v-2h-2v-2h-2v-6h2v-2h2v-2h6v2h2v2h2v6h-2Z" />
          <polygon fill="transparent" points="19 10 19 8 13 8 13 10 11 10 11 16 13 16 13 18 19 18 19 16 21 16 21 10 19 10" />
        </svg>
        <span class="translate-y-0.5 ml-2 flex items-center text-h4" tabindex="0">Olympia, WA, USA</span>
      </div>
    </div>
    <div class="substep animation__delay-long -md:mb-3 mb-5 flex flex-col -md:space-y-5 space-y-7 -sm:text-left -sm:indent-5">
      <p tabindex="0">I'm a full-stack developer with over 6 years of professional experience.</p>

      <p tabindex="0">In that time, I've enjoyed building, maintaining, and repairing many websites, plugins, and integrations. Having used a myriad of technologies, I've become somewhat framework-agnostic and proficient in choosing a stack that best suits project needs.</p>

      <p tabindex="0">On the front-end, I emphasize accessibility, design-to-code accuracy, re-usable atomic structure, SEO, and performance optimization best practices.</p>

      <p tabindex="0">Like many, I started with the out-of-box monolith, Wordpress. Gradually, I introduced containerization, CD/CI pipelines, then made the jump to headless CMS with PostGres, Node.js and SSG. Inevitably, I traversed the modern Typescript, server vs. client ecosystem that utilizes stateful TSX and graphQL fetching. I'm grateful for all my pre-LLM coding and troubleshooting knowledge, but life today is sweeter with my AI assistant Copilot.</p>

      <p tabindex="0">I've been a stalwart team member in a collaborative environment with distributed teams. I have lead-developer experience, pay attention to detail, and have a strong desire to learn. I focus on team goals, remain unpretentious, and prioritize clear communication.</p>

      <span tabindex="0" class="text-center indent-0">Let's work together!</span>
    </div>
  </header>

  <div class="flex justify-center items-center mb-5">
    <a href="https://github.com/CurtisWirtz" target="_blank" class="group substep animation__delay-short" aria-label="Curtis's GitHub Profile">
      <title>Pixelated GitHub Icon</title>
      <svg width="48px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path class="group-hover:fill-pank transition-all duration-500" d="m23 9v6h-1v2h-1v2h-1v1h-1v1h-1v1h-2v1h-1v-5h-1v-1h1v-1h2v-1h1v-1h1v-5h-1v-3h-2v1h-1v1h-1v-1h-4v1h-1v-1h-1v-1h-2v3h-1v5h1v1h1v1h2v2h-2v-1h-1v-1h-2v1h1v2h1v1h3v3h-1v-1h-2v-1h-1v-1h-1v-1h-1v-2h-1v-2h-1v-6h1v-2h1v-2h1v-1h1v-1h2v-1h2v-1h6v1h2v1h2v1h1v1h1v2h1v2z" fill="#d1e4dd" /></svg>
    </a>
    <a href="https://www.linkedin.com/in/curtiswirtz" target="_blank" class="group ml-5 substep animation__delay-medium" aria-label="Curtis's Linkedin Profile">
      <svg class="group-hover:fill-pank transition-all duration-500" width="48px" fill="#d1e4dd" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
        <title>Pixelated Linkedin Icon</title>
        <g>
          <g>
            <rect x="11.13" y="166.957" width="111.304" height="345.043" />
          </g>
        </g>
        <g>
          <g>
            <polygon
              points="100.174,33.391 100.174,0 33.391,0 33.391,33.391 0,33.391 0,100.174 33.391,100.174 33.391,133.565 
       100.174,133.565 100.174,100.174 133.565,100.174 133.565,33.391 		"
            />
          </g>
        </g>
        <g>
          <g>
            <polygon
              points="478.609,233.739 478.609,200.348 445.217,200.348 445.217,166.957 289.391,166.957 289.391,200.348 256,200.348 
       256,166.957 155.826,166.957 155.826,512 267.13,512 267.13,300.522 300.522,300.522 300.522,267.13 367.304,267.13 
       367.304,300.522 400.696,300.522 400.696,512 512,512 512,233.739 		"
            />
          </g>
        </g>
      </svg>
    </a>
  </div>
  <a href="/assets/pfd/curtiswirtzresume.pdf " target="_blank" class="text-center bg-base hover:bg-pank transition-all duration-500 pixel-corners mt-3 pt-2 pb-1.5 px-6 w-fit font-playertwo text-black mx-auto -md:mb-16 mb-20">View Resume</a>
</section>
