<header class="sticky z-10 inset-0">
  <nav class="nav-menu w-full" aria-label="Navigation">
    <ul class="flex w-full items-center -md:px-3 px-6 py-3 uppercase text-[18px] tracking-widest" role="menubar" aria-label="Main Navigation">
      <li class="group" role="menuitem">
        <a class="relative flex" href="/" aria-label="Home">
          <span class="sr-only">Home</span>
          <img class="-sm:hidden" src="/assets/images/curtis-logo.png" alt="Curtis Wirtz's initials icon." />
          <img aria-hidden="true" class="-sm:hidden absolute inset-0 z-10 opacity-0 group-hover:opacity-100 trasition-all duration-500" src="/assets/images/curtis-logo-pink.png" alt="Curtis Wirtz's initials icon." />

          <img class="sm:hidden" src="/assets/images/curtis-icon.png" alt="Pixelated 'Curtis' logo." />
          <img aria-hidden="true" class="sm:hidden absolute inset-0 z-10 opacity-0 group-hover:opacity-100 trasition-all duration-500" src="/assets/images/curtis-icon-pink.png" alt="Pixelated 'Curtis' logo." />
          <span aria-hidden="true" class="ml-1 font-micro group-hover:text-pank trasition-all duration-500">&#169;</span>
        </a>
      </li>
      <li role="menuitem" class="self-start ml-auto -md:mr-5 mr-16 mt-1.5">
        <a class="shine hover:text-pank -md:text-[12px] font-playertwo transition-text duration-500" href="#showcase"> Showcase </a>
      </li>
      <li role="menuitem" class="self-start mt-1.5">
        <a class="match hover:text-pank -md:text-[12px] font-playertwo transition-text duration-500" href="#about"> About<span class="blinker">_</span> </a>
      </li>
    </ul>
  </nav>
</header>
