@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Share Tech";
  src: url("../fonts/ShareTechMono-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  font-family: "Share Tech";
  color: #d1e4dd;
}

/* blur/darken anything that passes under the nav as we scroll */
.nav-menu::before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: -1;

  /* The blur size should be anything below `0` so it will extend to the outside. */
  inset: -95px 0px;
  -webkit-backdrop-filter: blur(7.5px); /* Required for safari */
  backdrop-filter: blur(7.5px);

  /* A mask fades the blur effect, so it gets weaker. */
  /* towards the edges, further from the container box. */
  /* (The fill color is irrelevant, so "red" is used as it's the shortest color name.) */
  mask: linear-gradient(to top, transparent 0%, red 140px calc(100% - 100px), transparent 100%);
  background: linear-gradient(to bottom, black 25px, transparent 200%);

  /* This merges the masks above so only the overlapping pixels are rendered. */
  /* This creates the illusion of a fade-out mask. */
  mask-composite: intersect;
  -webkit-mask-composite: source-in; /* Required for Safari */
}
@media (max-width: 767px) {
  .nav-menu::before {
    inset: -99px 0px -86px 0px;
    mask: linear-gradient(to top, transparent 0%, red 127px calc(100% - 100px), transparent 100%);
    background: linear-gradient(to bottom, black 25px, transparent 200%);
  }
}

/* Positioning the hero image - slightly more built on the right side - Undesirable, but the real fix requires editing the gif file. This is far more simple */
#pixel-curtis {
  transform: translateX(-3vw);
}
@media (max-width: 767px) {
  #pixel-curtis {
    transform: translateX(calc(11px - 11vw));
  }
}

/* Typewriting effect */
:root {
  --bg-color: black;
  --typewriterSpeed: 1s;
  --typewriterCharacters: 15;
}

.typewriter {
  font-family: "Press Start 2P";

  color: #d1e4dd;
  display: flex;
  background: var(--bg-color);
  justify-content: center;
  transition: opacity 250ms;
}

.typewriter h1 {
  font-size: clamp(1.5rem, 2rem, 2rem);
  position: relative;
  font-family: "Press Start 2P";
  white-space: pre-wrap; /* Preserve line breaks */
  width: max-content;
}

.typewriter h1::before,
.typewriter h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 0.5s forwards;
}

.typewriter h1::after {
  width: 0.125em;
  background: #d1e4dd;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 0.5s forwards, blink 750ms steps(15) infinite;
}
/* For multiple lines: */
.typewriter.typewriter-delay h1::before {
  /* add delay to the animation*/
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;
  animation-delay: 1.5s;
}

.typewriter.typewriter-delay h1::after {
  /* add delay to the animation*/
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards, blink 750ms steps(15) infinite;
  animation-delay: 1.5s;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@media (max-width: 767px) {
  .typewriter h1 {
    font-size: 5.4vw;
  }
}

/* Shiny effect on Showcase nav link */
.shine {
  font-size: 16px;
  background: #666 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 100px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 1.75s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}
@keyframes shine {
  0%,
  10% {
    background-position: -50px;
  }
  100% {
    background-position: 100px;
  }
}
.match {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  -webkit-background-clip: text;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}
/* glow effect on section h1s */
.warm-glow {
  color: #d1e4dd;
  text-transform: uppercase;
  animation: glow 3s infinite alternate-reverse;
}
@keyframes glow {
  0% {
    color: #d1e4dd;
  }
  100% {
    color: #ef7ef7;
  }
}

/* Blinking effect on About nav link */
.blinker {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Floating effect */
.floating {
  animation: floating 2s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Animations on load and scroll */
.pre-animated.step {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(15px);
}
.pre-animated.step .substep {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(15px);
}
.step {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.step .substep {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

/* Animation delays */
.substep.animation__delay-short {
  transition-delay: 0.1s;
}
.substep.animation__delay-medium {
  transition-delay: 0.2s;
}
.substep.animation__delay-long {
  transition-delay: 0.3s;
}

/* Pixelated Rounded corners - Big ups to Luke Bonaccorsi https://pixelcorners.lukeb.co.uk/ */
.pixel-corners {
  clip-path: polygon(0px calc(100% - 16px), 4px calc(100% - 16px), 4px calc(100% - 8px), 8px calc(100% - 8px), 8px calc(100% - 4px), 16px calc(100% - 4px), 16px 100%, calc(100% - 16px) 100%, calc(100% - 16px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 16px), 100% calc(100% - 16px), 100% 16px, calc(100% - 4px) 16px, calc(100% - 4px) 8px, calc(100% - 8px) 8px, calc(100% - 8px) 4px, calc(100% - 16px) 4px, calc(100% - 16px) 0px, 16px 0px, 16px 4px, 8px 4px, 8px 8px, 4px 8px, 4px 16px, 0px 16px);
}

/* Alternate image and content order in projects section, but not on mobile widths */
@media (min-width: 767px) {
  .project:nth-child(odd) > div:nth-child(2) {
    order: 2;
  }
}

.marquee {
  --gap: 0rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}
.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
}
.marquee__content {
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Project Image zoom */
.zooms {
  animation: zooms 10s ease-in-out infinite;
}

@keyframes zooms {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* background haze effect */
.ray-light {
  background-color: #d1e4dd80;
  background: radial-gradient(ellipse closest-side at center, #83dd9e, #d1e4dd80);
}
/* background haze effect appears as you scroll down */
.scroll-fade {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.scroll-fade.active {
  opacity: 1;
}
#contact .contact-input::placeholder {
  color: #000 !important;
}
