<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.meta_title %}{{ page.meta_title }} | {% endif %}Princeps Tech LLC</title>
    <meta name="description" content="{{ page.meta_description }}" />
    <!-- For development: -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="/assets/css/main.css" /> -->
    <!-- End For development: -->

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    {% include navbar.html %} {% include hero.html %}
    <main>
      {% include showcase.html %}
      <div id="kicker">
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST v MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        <br />
        TEST TEST TEST TEST TEST MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        <br />
        TEST TEST TEST TEST TEST MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        <br />
        TEST TEST TEST TEST TEST MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST
        <br />
        MYSITE XX
        <br />
        MYSITE XX <br />
        TEST TEST TEST TEST TEST
        <br />
      </div>
    </main>

    <!-- <script src="/assets/js/script.js"></script> -->
    <script type="module" src="/assets/js/dist/script.js"></script>
  </body>
</html>
