<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.metatitle %}{{ page.metatitle }} | {% endif %}Princeps Tech LLC</title>
    <meta name="description" content="{{ page.metadescription }}" />
    <!-- temporary tailwind load, until building for push -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    {% include navbar.html %} {% include hero.html %}
    <main></main>

    <script src="/assets/js/script.js"></script>
  </body>
</html>
