<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.meta_title %}{{ page.meta_title }}{% endif %}</title>
    <meta name="description" content="{{ page.meta_description }}" />

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body class="relative">
    <div aria-hidden="true" class="sticky inset-0 pointer-events-none">
      <div class="absolute -z-10 h-screen w-screen max-w-full overflow-hidden min-[2048px]:max-w-[2048px]">
        <div class="absolute rounded-full blur-[48px] ray-light h-[267px] w-[1192px] rotate-[20deg] opacity-40 -bottom-[300px] left-[100px] scroll-fade"></div>
        <div class="absolute rounded-full blur-[48px] ray-light h-[276px] w-[1192px] rotate-[32deg] opacity-25 -bottom-[240px] left-[240px] scroll-fade"></div>
        <div class="absolute rounded-full blur-[48px] ray-light h-[388px] w-[1758px] rotate-[-40deg] opacity-80 -left-[240px] -bottom-[440px] scroll-fade"></div>
        <div class="absolute rounded-full blur-[48px] ray-light h-[492px] w-[1192px] rotate-[-32deg] opacity-75 -bottom-[300px] left-[960px] scroll-fade"></div>
      </div>
    </div>

    {% include navbar.html %} {% include hero.html %}
    <main>{% include showcase.html %} {% include about.html %} {% include kicker.html %}</main>
    {% include footer.html %}

    <script type="module" src="/assets/js/dist/script.js"></script>
  </body>
</html>
